// TYPOGRAPHY
$font-stack: "Rubik", sans-serif;

$font-weight-default: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// COLORS
$brand-color: #0cd061;

$background-color-body: #fff;
$background-color-btn-hover: #0bbb57;

$font-color-body: #555;
$font-color-link-hover: #0bbb57;
$font-color-headings: #333;
$font-color-btn--outline: #555;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: $background-color-body;
  color: $font-color-body;
  font: {
    family: $font-stack;
    weight: $font-weight-default;
  }
  line-height: 1;
  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.container {
  margin: 0 auto 9.6rem;
  max-width: 120rem;
  padding: 0 4.8rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;

  &--2-cols {
    grid-template-columns: 1fr 1fr;
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }
}

// HEADINGS
.heading {
  & {
    color: $font-color-headings;
    letter-spacing: -0.5px;
    line-height: 1.05;
  }

  &-primary {
    font: {
      size: 5.2rem;
    }
  }

  &-secondary {
    font: {
      size: 4.6rem;
    }
    margin-bottom: 4.8rem;
  }

  &-tertiary {
    font: {
      size: 3.8rem;
    }
    margin-bottom: 2.4rem;
  }
}

.subheading {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.center {
  text-align: center;
}

// BUTTONS
.btn {
  border: none;
  border-radius: 6px;
  font: {
    size: 1.8rem;
    weight: $font-weight-medium;
  }
  padding: 1.2rem 2.4rem;

  &-icon {
    font-size: 2.4rem;
  }

  &--full {
    background-color: $brand-color;

    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      background-color: $background-color-btn-hover;
    }
  }

  &--outline {
    background-color: #fff;
    border: 2px solid #fff;

    &:link,
    &:visited {
      color: $font-color-btn--outline;
    }
    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}
