// TYPOGRAPHY
$font-stack: "Rubik", sans-serif;

// COLORS
$brand-color: #0cd061;

$brand-color-shade-10: #0bbb57;

$white-color: #fff;

$font-color-body: #555;
$font-color-headings: #333;
$font-color-btn--outline: #555;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: $white-color;
  color: $font-color-body;
  font: {
    family: $font-stack;
    weight: 400;
  }
  line-height: 1;
  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4.8rem;
}

.grid {
  display: grid;

  &--2-cols {
    grid-template-columns: 1fr 1fr;
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

// HEADINGS
.heading {
  &-primary,
  &-secondary,
  &-tertiary {
    color: $font-color-headings;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.05;
  }

  &-primary {
    font: {
      size: 5.2rem;
    }
  }

  &-secondary {
    font: {
      size: 4.6rem;
    }
  }

  &-tertiary {
    font: {
      size: 3.8rem;
    }
  }
}

.subheading {
  color: $brand-color-shade-10;
  font-size: 2.4rem;
  font-weight: 600;
}

.link:link,
.link:visited {
  border-bottom: 1px solid currentColor;
  color: $brand-color;
  display: inline-block;
  padding-bottom: 0.2rem;
  text-decoration: none;
  transition: all 0.3s;
  width: fit-content;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
  color: $brand-color-shade-10;
}

// UTILS
.center {
  text-align: center;
}

.margin-bottom-small {
  margin-bottom: 1.2rem;
}

.margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

.margin-bottom-bigger {
  margin-bottom: 6.4rem;
}

// BUTTONS
.btn {
  border: none;
  border-radius: 6px;
  font: {
    size: 1.8rem;
    weight: 500;
  }
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;

  &-icon {
    font-size: 2.4rem;
  }

  &--full {
    background-color: $brand-color;

    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      background-color: $brand-color-shade-10;
    }
  }

  &--outline {
    background-color: #fff;
    border: 2px solid #fff;

    &:link,
    &:visited {
      color: $font-color-btn--outline;
    }
    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}
