// TYPOGRAPHY
$font-stack: "Rubik", sans-serif;

// COLORS
$brand-color: #0ccf61;
$hue-color: 146;

$brand-color-shade-10: hsl($hue-color, 89%, 39%);

$gray-light-color: #777;
$gray-color: #555;
$gray-darker-color: #333;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    box-shadow: 0 0 0 3px $brand-color-shade-10;
    outline: none;
  }
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  // background-color: #fcfbf6;
  color: $gray-color;
  font: {
    family: $font-stack;
    weight: 400;
  }

  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

img {
  width: 100%;
}

.image {
  display: block;

  &-container {
    overflow: hidden;
  }
}

footer {
  border-top: 1px solid #eee;
}

.logo {
  align-items: center;
  color: $gray-darker-color;
  display: flex;

  font: {
    size: 2.2rem;
    weight: 600;
  }

  transition: all 0.3s;

  &-icon {
    font-size: 3.2rem;
  }
}
.logo:hover {
  color: $brand-color-shade-10;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4.8rem;
}

.grid {
  display: grid;

  &--2-cols {
    grid-template-columns: 1fr 1fr;
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

.flex {
  display: flex;
}

// HEADINGS
.heading {
  &-primary,
  &-secondary,
  &-tertiary {
    color: $gray-darker-color;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.05;
  }

  &-primary {
    font: {
      size: 5.2rem;
    }
  }

  &-secondary {
    font: {
      size: 4.6rem;
    }
  }

  &-tertiary {
    font: {
      size: 3.8rem;
    }
  }
}

.subheading {
  color: $brand-color-shade-10;
  font-size: 2.4rem;
  font-weight: 600;
}

.link:link,
.link:visited {
  border-bottom: 1px solid currentColor;
  color: $brand-color;
  display: inline-block;
  padding-bottom: 0.2rem;
  text-decoration: none;
  transition: all 0.3s;
  width: fit-content;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
  color: $brand-color-shade-10;
}

// UTILS
.center {
  text-align: center;
}

.margin-bottom-small {
  margin-bottom: 1.2rem;
}

.margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

.margin-bottom-bigger {
  margin-bottom: 6.4rem;
}

// BUTTONS
.btn {
  border: none;
  border-radius: 6px;
  font: {
    size: 1.8rem;
    weight: 500;
  }
  padding: 1.2rem 2.4rem;
  transition: all 0.3s;

  &-icon {
    font-size: 2.4rem;
  }

  &--full {
    background-color: $brand-color;

    &:link,
    &:visited {
      color: #fff;
    }
    &:hover,
    &:active {
      background-color: $brand-color-shade-10;
    }
  }

  &--outline {
    background-color: #fff;
    border: 2px solid #fff;

    &:link,
    &:visited {
      color: $gray-darker-color;
    }
    &:hover,
    &:active {
      background-color: transparent;
    }
  }
}
