// COLORS

$brand-color: #0cd061;
$hue-color: 146;

$brand-color-tint-90: hsl($hue-color, 66%, 94%);

$brand-color-shade-10: hsl($hue-color, 89%, 39%);

$gray-color-darker: #333;

.main {
  &-header {
    align-items: center;
    background-color: $brand-color-tint-90;
    color: $gray-color-darker;
    display: flex;

    font: {
      size: 1.8rem;
      weight: 500;
    }

    height: 8rem;
    justify-content: space-between;
    padding: 0 4.8rem;
  }

  &-nav {
    &-list {
      align-items: center;
      display: flex;
      gap: 4rem;
      list-style: none;
    }

    &-link:link,
    &-link:visited {
      color: $gray-color-darker;
      display: inline-block;
      transition: all 0.3s;
    }

    &-link:hover,
    &-link:active {
      transition: all 0.3s;
      color: $brand-color-shade-10;
    }

    .nav-contact {
      border-radius: 6px;
      color: #fff;
      background-color: $brand-color;
      padding: 1.2rem 2.4rem;
    }

    .nav-contact:hover {
      background-color: $brand-color-shade-10;
    }
  }
}
