// TYPOGRAPHY
$font-size-header: 1.8rem;
$font-size-logo: 2.2rem;

$font-weight-medium: 500;
$font-weight-semi-bold: 600;

// COLORS
$brand-color: hsl(146, 89%, 43%); //#0cd061
$brand-hue-color: 146;

$background-color-header: hsl($brand-hue-color, 66%, 94%);
$background-color-nav-contact-hover: hsl($brand-hue-color, 89%, 39%);

$font-color-main-nav-link-hover: hsl($brand-hue-color, 89%, 39%);
$font-color-header: #333;

.main {
  &-header {
    align-items: center;
    background-color: $background-color-header;
    color: $font-color-header;
    display: flex;

    font: {
      size: $font-size-header;
      weight: $font-weight-medium;
    }

    height: 8rem;
    justify-content: space-between;
    padding: 0 4.8rem;

    .logo {
      align-items: center;
      color: $font-color-header;
      display: flex;

      font: {
        size: $font-size-logo;
        weight: $font-weight-semi-bold;
      }

      &-icon {
        font-size: 3.2rem;
      }
    }
    .logo:hover {
      color: $font-color-main-nav-link-hover;
    }
  }

  &-nav {
    &-list {
      align-items: center;
      display: flex;
      gap: 4rem;
      list-style: none;
    }

    &-link:link,
    &-link:visited {
      color: $font-color-header;
      display: inline-block;
    }

    &-link:hover,
    &-link:active {
      color: $font-color-main-nav-link-hover;
    }

    .nav-contact {
      border-radius: 6px;
      color: #fff;
      background-color: $brand-color;
      padding: 1.2rem 2.4rem;
    }

    .nav-contact:hover {
      background-color: $background-color-nav-contact-hover;
    }
  }
}
