// COLORS
$brand-color: #0cd061;
$hue-color: 146;

$brand-color-tint-90: hsl($hue-color, 66%, 94%);

$gray-darker-color: #333;

.hero {
  & {
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    padding: 6.4rem;
    text-align: center;
  }

  &-section {
    background-color: $brand-color-tint-90;
    padding: 4.8rem 0 9.6rem 0;
  }

  &-description {
    font-size: 1.8rem;
    line-height: 1.5;
    width: 40rem;
  }

  div {
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
  }
}

.language-switch-container {
  label {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .checkbox {
    background-color: transparent;
    border: solid 2px $brand-color;
    border-radius: 24px;
    cursor: pointer;
    height: 3.2rem;
    margin: 1.2rem auto;
    padding: 0.4rem;
    transition: all 200ms;
    width: 5.2rem;

    &::before {
      content: "";
      background-color: $gray-darker-color;
      border-radius: 12px;
      display: inline-block;
      height: 1.8rem;
      transition: all 200ms;
      width: 1.8rem;
    }

    &.on {
      &::before {
        transform: translateX(18px);
      }
    }
  }
}
