// COLORS
$brand-color: #0cd061;
$hue-color: 146;

$brand-color-tint-90: hsl($hue-color, 66%, 94%);

.hero {
  & {
    align-items: center;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    padding: 6.4rem;
    text-align: center;
  }

  &-section {
    background-color: $brand-color-tint-90;
  }

  &-description {
    font-size: 1.8rem;
    line-height: 1.5;
    width: 40rem;
  }

  div {
    align-items: center;
    justify-content: space-around;
    width: 40rem;
  }
}
