// COLORS
$brand-color: #0cd061;

$brand-color-shade-10: #0bbb57;

$brand-color-tint-80: #cef6df;
$brand-color-tint-90: #e7faef;

.qualification {
  &-icon {
    color: $brand-color-shade-10;
    border-radius: 50%;
    background-color: $brand-color-tint-90;
    margin-bottom: 3.2rem;
    padding: 1.2rem;
  }
}
.work {
  & {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
  }

  &-details {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &-assignments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / -1;
  }
}

.education {
  & {
    font-size: 1.6rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .course-details {
    text-align: justify;
  }
}

.certifications {
  & {
    font-size: 1.6rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  .certification-details {
    .course,
    .hours-conclusion,
    .type-instructor {
      margin-bottom: 0.6rem;
    }
    div {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    strong {
      margin-right: 1rem;
    }
  }
}
