// COLORS
$brand-color: #0cd061;
$hue-color: 146;

$brand-color-shade-10: hsl($hue-color, 89%, 39%);

$brand-color-tint-80: hsl($hue-color, 69%, 89%);
$brand-color-tint-90: hsl($hue-color, 66%, 94%);

.qualification {
  &-icon {
    color: $brand-color-shade-10;
    border-radius: 50%;
    background-color: $brand-color-tint-90;
    display: inline-block;
    font-size: 3.6rem;
    margin: 0.8rem auto;
    padding: 1.2rem;
    align-self: center;
  }
}
.work {
  & {
    column-gap: 4.8rem;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
  }

  &--grid {
    grid-template-columns: 1fr 3fr;
  }

  strong {
    margin-right: 1rem;
  }

  &-details {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &-assignments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: 2 / -1;
  }
}

.education {
  & {
    column-gap: 4.8rem;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  div {
    margin-bottom: 0.6rem;

    i {
      line-height: 1;
    }
  }

  strong {
    margin-right: 1rem;
  }
}

.certifications {
  & {
    font-size: 1.6rem;
    line-height: 1.5;
    gap: 4.8rem;
  }

  .certification-details {
    div {
      margin-bottom: 0.6rem;

      i {
        line-height: 1;
      }
    }

    strong {
      margin-right: 1rem;
    }
  }
}
