* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #555;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  overflow-x: hidden;
}

a:link,
a:visited {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4.8rem;
}

.grid {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 5.6rem;
          column-gap: 5.6rem;
}

.grid--2-cols {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.heading {
  color: #333;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.heading-primary {
  font-size: 5.2rem;
}

.heading-secondary {
  font-size: 4.6rem;
  margin-bottom: 4.8rem;
}

.subheading {
  font-size: 2.4rem;
  margin-bottom: 1.2rem;
}

.center {
  text-align: center;
}

.btn {
  border: none;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
}

.btn-icon {
  font-size: 2.4rem;
}

.btn--full {
  background-color: #0cd061;
}

.btn--full:link, .btn--full:visited {
  color: #fff;
}

.btn--full:hover, .btn--full:active {
  background-color: #0bbb57;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid #fff;
}

.btn--outline:link, .btn--outline:visited {
  color: #555;
}

.btn--outline:hover, .btn--outline:active {
  background-color: transparent;
}

.main-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6faee;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  font-weight: 500;
  height: 8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4.8rem;
}

.main-header .logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
}

.main-header .logo-icon {
  font-size: 3.2rem;
}

.main-header .logo:hover {
  color: #0bbc58;
}

.main-nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  list-style: none;
}

.main-nav-link:link, .main-nav-link:visited {
  color: #333;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active {
  color: #0bbc58;
}

.main-nav .nav-contact {
  border-radius: 6px;
  color: #fff;
  background-color: #0ccf61;
  padding: 1.2rem 2.4rem;
}

.main-nav .nav-contact:hover {
  background-color: #0bbc58;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.4rem;
  text-align: center;
}

.hero-section {
  background-color: #e7faef;
  margin-bottom: 9.6rem;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  width: 40rem;
}

.hero div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40rem;
}

.about-text {
  font-size: 1.8rem;
  line-height: 1.5;
}

.about div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
/*# sourceMappingURL=main.css.map */