* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  -webkit-box-shadow: 0 0 0 3px #0bbc58;
          box-shadow: 0 0 0 3px #0bbc58;
  outline: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  color: #555;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

section {
  padding: 9.6rem 0;
}

a:link,
a:visited {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

footer {
  border-top: 1px solid #eee;
}

.logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.logo-icon {
  font-size: 3.2rem;
}

.logo:hover {
  color: #0bbc58;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 4.8rem;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.grid--2-cols {
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.grid--3-cols {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.heading-primary, .heading-secondary, .heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
  line-height: 1.05;
}

.heading-primary {
  font-size: 5.2rem;
}

.heading-secondary {
  font-size: 4.6rem;
}

.heading-tertiary {
  font-size: 3.8rem;
}

.subheading {
  color: #0bbc58;
  font-size: 2.4rem;
  font-weight: 600;
}

.link:link,
.link:visited {
  border-bottom: 1px solid currentColor;
  color: #0ccf61;
  display: inline-block;
  padding-bottom: 0.2rem;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
  color: #0bbc58;
}

.center {
  text-align: center;
}

.margin-bottom-small {
  margin-bottom: 1.2rem;
}

.margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.margin-bottom-big {
  margin-bottom: 4.8rem;
}

.margin-bottom-bigger {
  margin-bottom: 6.4rem;
}

.btn {
  border: none;
  border-radius: 6px;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1.2rem 2.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-icon {
  font-size: 2.4rem;
}

.btn--full {
  background-color: #0ccf61;
}

.btn--full:link, .btn--full:visited {
  color: #fff;
}

.btn--full:hover, .btn--full:active {
  background-color: #0bbc58;
}

.btn--outline {
  background-color: #fff;
  border: 2px solid #fff;
}

.btn--outline:link, .btn--outline:visited {
  color: #333;
}

.btn--outline:hover, .btn--outline:active {
  background-color: transparent;
}

.main-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e6faee;
  color: #333;
  font-size: 1.8rem;
  font-weight: 500;
  height: 9.6rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4.8rem;
  position: relative;
}

.main-nav-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4rem;
  list-style: none;
}

.main-nav-link:link, .main-nav-link:visited {
  color: #333;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main-nav-link:hover, .main-nav-link:active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0bbc58;
}

.main-nav .nav-contact {
  border-radius: 6px;
  color: #fff;
  background-color: #0cd061;
  padding: 1.2rem 2.4rem;
}

.main-nav .nav-contact:hover {
  background-color: #0bbc58;
}

.mobile-nav-button {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
  z-index: 999;
}

.mobile-nav-icon {
  color: #333;
  font-size: 4.8rem;
}

.mobile-nav-icon[name="close-icon"] {
  display: none;
}

.sticky .main-header {
  background-color: rgba(255, 255, 255, 0.877);
  -webkit-box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
          box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
}

.sticky .hero-section {
  margin-top: 9.6rem;
}

.hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.2rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6.4rem;
  text-align: center;
}

.hero-section {
  background-color: #e6faee;
  padding: 4.8rem 0 9.6rem 0;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  width: 40rem;
}

.hero div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
}

.language-switch-container label {
  font-size: 1.2rem;
  font-weight: 600;
}

.language-switch-container .checkbox {
  background-color: transparent;
  border: solid 2px #0cd061;
  border-radius: 24px;
  cursor: pointer;
  height: 3.2rem;
  margin: 1.2rem auto;
  padding: 0.4rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  width: 5.2rem;
}

.language-switch-container .checkbox::before {
  content: "";
  background-color: #333;
  border-radius: 12px;
  display: inline-block;
  height: 1.8rem;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  width: 1.8rem;
}

.language-switch-container .checkbox.on::before {
  -webkit-transform: translateX(18px);
          transform: translateX(18px);
}

.about-text {
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 0 10rem;
  text-align: justify;
}

.about-text-container {
  margin-bottom: 6.4rem;
}

.about div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qualification-icon {
  color: #0bbc58;
  border-radius: 50%;
  background-color: #e6faee;
  display: inline-block;
  font-size: 3.6rem;
  margin: 0.8rem auto;
  padding: 1.2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.work {
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 3.6rem;
}

.work--grid {
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
}

.work strong {
  margin-right: 1rem;
}

.work-details {
  -ms-grid-column: 1;
  grid-column: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.2rem;
}

.work-assignments {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column: 2 / -1;
  text-align: justify;
}

.education {
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
  font-size: 1.6rem;
  line-height: 1.5;
}

.education div {
  margin-bottom: 0.6rem;
}

.education div i {
  line-height: 1;
}

.education strong {
  margin-right: 1rem;
}

.certifications {
  font-size: 1.6rem;
  line-height: 1.5;
  gap: 4.8rem;
}

.certifications .certification-details div {
  margin-bottom: 0.6rem;
}

.certifications .certification-details div i {
  line-height: 1;
}

.certifications .certification-details strong {
  margin-right: 1rem;
}

.skills {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills .skill {
  padding: 2.4rem;
  text-align: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.skills .skill-image {
  height: 15rem;
}

.skills .skill-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.projects {
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
  padding: 6.4rem 0;
}

.projects-section {
  background-color: #e6faee;
}

.project-image {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
}

.project-image:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.project-image-container {
  overflow: hidden;
}

.project-text-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
}

.project-text-container div {
  gap: 2rem;
}

.project-title {
  color: #333;
  font-size: 3rem;
  text-transform: uppercase;
}

.project-description {
  font-size: 1.8rem;
  line-height: 1.5;
}

.project-technologies-used {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  list-style: none;
  margin-bottom: 2.4rem;
}

.project-technologies-used li {
  border: 1px solid #0cd061;
  background-color: #d0f6e0;
  border-radius: 7px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.8rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.project-technologies-used li:hover {
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.not-live {
  cursor: not-allowed;
}

.contact--grid {
  -ms-grid-columns: 4fr 6fr;
      grid-template-columns: 4fr 6fr;
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
}

.contact-container {
  padding: 0 4.8rem;
}

.contact-icon {
  color: #0bbc58;
  border-radius: 50%;
  background-color: #e6faee;
  display: inline-block;
  font-size: 3.6rem;
  padding: 1.2rem;
  margin: 0.8rem;
}

.contact-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.4rem;
  margin-bottom: 3.6rem;
}

.contact-info div {
  line-height: 1.5;
}

.contact-info div span {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.contact-info div p {
  font-size: 1.6rem;
}

.contact-form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0cd061;
  background: linear-gradient(163deg, #0cd061 0%, #3dd981 100%);
  border-radius: 15px;
  -webkit-box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.45);
          box-shadow: 0 1.2rem 2.4rem 0 rgba(0, 0, 0, 0.45);
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.4rem;
  line-height: 1.5;
  padding: 2.4rem 6.4rem;
}

.contact-form div {
  text-align: center;
  width: 100%;
}

.contact-form div label {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.contact-form div input[type="text"],
.contact-form div input[type="email"] {
  line-height: 3;
}

.contact-form div input[type="text"],
.contact-form div input[type="email"],
.contact-form div textarea {
  background-color: #e7faef;
  border: none;
  border-radius: 10px;
  font-family: inherit;
  font-size: 1.6rem;
  text-align: center;
  width: 100%;
}

.contact-form div textarea {
  padding: 2.4rem;
  margin-bottom: 2rem;
}

.contact-form button {
  background-color: #e7faef;
  border: none;
  border-radius: 8px;
  color: #0cd061;
  font-family: inherit;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 2.4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-form button:hover {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
          box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
}

.contact-form *:focus {
  outline: none;
  -webkit-box-shadow: inset 0 0 0 3px #9ad4b3;
          box-shadow: inset 0 0 0 3px #9ad4b3;
}

.footer {
  -webkit-column-gap: 4.8rem;
          column-gap: 4.8rem;
  padding: 9.6rem 0;
}

.footer--grid {
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.footer .logo-subheading {
  color: #0ccf61;
  font-size: 1.8rem;
  font-weight: 600;
}

.footer .copyright {
  font-size: 1.2rem;
  line-height: 1.5;
}

.footer .footer-socials {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.4rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer-socials .social-icon {
  font-size: 4.8rem;
  color: #0ccf61;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer .footer-socials .social-icon:hover {
  color: #0bbc58;
}

.footer-nav-list {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.4rem;
  list-style: none;
  font-size: 1.8rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-nav-link:link, .footer-nav-link:visited {
  color: #333;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-nav-link:hover, .footer-nav-link:active {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #0bbc58;
}
/*# sourceMappingURL=main.css.map */