$desktop-smaller: 84em;
$tablets-landscape: 75em;
$tablets-portrait: 59em;
$tablets-smaller: 44em;
$phones: 34em;

// *****************************************************************
// BELOW 1344px
@media (max-width: $desktop-smaller) {
  .heading {
    &-primary {
      font-size: 4.4rem;
    }
  }
}

// *****************************************************************
// BELOW 1200px
@media (max-width: $tablets-landscape) {
  html {
    // 9px / 16px
    font-size: 56.25%;
  }

  .heading {
    &-secondary {
      font-size: 3.6rem;
    }

    &-tertiary {
      font-size: 2.4rem;
    }
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }
}
// *****************************************************************
// BELOW 944px
@media (max-width: $tablets-portrait) {
  html {
    // 8px / 16px
    font-size: 50%;
  }

  .hero {
    & {
      gap: 6.4rem;
      padding: 0 8rem;
    }
  }

  .contact {
    &--grid {
      column-gap: 3.6rem;
      grid-template-columns: 3fr 7fr;
    }

    &-container {
      padding: 0;
    }

    &-info {
      gap: 1.2rem;
    }

    &-form {
      padding: 2.4rem 4.8rem;
    }
  }

  // MOBILE NAVIGATION
  .mobile-nav {
    &-button {
      display: block;
    }
  }

  .main-nav {
    & {
      align-items: center;
      background-color: #fff;
      display: flex;
      height: 100vh;
      justify-content: center;

      position: absolute;
      top: 0;
      left: 0;

      transform: translateX(100%);
      transition: all 0.5s ease-in;
      width: 100%;

      // HIDE NAVIGATION
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    &-list {
      flex-direction: column;
      gap: 4.8rem;

      & li:first-child {
        display: none;
      }
    }

    &-link:link,
    &-link:visited {
      font-size: 2.4rem;
    }
  }

  .nav-open {
    & .main-nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    & .mobile-nav-icon[name="close-icon"] {
      display: block;
    }

    & .mobile-nav-icon[name="menu-icon"] {
      display: none;
    }
  }
}
// *****************************************************************
// BELOW 704px
@media (max-width: $tablets-smaller) {
  .grid {
    &--3-cols,
    &--4-cols {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .about {
    &-text {
      padding: 0;
    }
    div {
      padding: 0 8rem;
      gap: 0;
      justify-content: space-between;
    }
  }

  .work {
    &-details {
      gap: 1.6rem;
    }

    &--grid {
      gap: 2.4rem;
      grid-template-columns: 2fr 3fr;
    }
  }

  .contact {
    &--grid {
      grid-template-columns: 3fr 7fr;
    }

    &-info {
      gap: 0.8rem;
    }
  }
}

@media (max-width: $phones) {
  .grid {
    &--2-cols,
    &--3-cols,
    &--4-cols {
      grid-template-columns: 1fr;
    }
  }

  .btn {
    &,
    &:link,
    &:visited {
      padding: 1.6rem 2.4rem;
    }
  }

  .about {
    &-text-container {
      text-align: center;
    }
    div {
      flex-direction: column;
      gap: 2.4rem;

      .btn {
        text-align: center;
        width: 100%;
      }
    }
  }

  .work {
    &--grid {
      grid-template-columns: 1fr;
    }

    &-details {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }

    &-assignments {
      grid-column: 1;
    }
  }

  .education {
    & {
      text-align: center;
    }

    .course-details {
      margin-bottom: 4.8rem;
    }
  }

  .certifications {
    & {
      text-align: center;
    }
  }

  .projects {
    & {
      padding: 0;
    }

    &-section {
      padding-bottom: 0;
    }
  }
  .project {
    &-text-container {
      border-bottom: 1px solid #eee;
      margin-bottom: 8rem;

      div {
        flex-direction: column-reverse;
        gap: 2.4rem;
        text-align: center;

        .btn--outline {
          border: 1px solid #333;
        }
      }
    }

    &-title {
      text-align: center;
    }

    &-technologies-used {
      margin-bottom: 0;
    }

    &-image-container {
      & {
        transform: translateY(-2.4rem);
      }
      &:nth-child(2) {
        grid-row: 1;
      }
    }
  }

  .contact {
    &--grid {
      grid-template-columns: 1fr;
    }

    &-info:not(:last-child) {
      margin-bottom: 1.2rem;
    }

    &-form {
      padding: 1.2rem 2.4rem;
      grid-row: 2;
    }
  }

  .footer {
    & {
      gap: 6.4rem;
    }

    &--grid {
      grid-template-columns: 1fr;
    }

    &-nav-list {
      align-items: center;
      grid-row: 1;
      justify-content: center;
    }

    &-socials {
      grid-row: 2;
    }

    &-logo {
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      grid-row: 3;
    }
  }
}
