$desktop-smaller: 84em;

// BELOW 1344px
@media (max-width: $desktop-smaller) {
  .hero {
    & {
      max-width: 120rem;
    }
  }

  .heading {
    &-primary {
      font-size: 4.4rem;
    }
  }
}
