@media (max-width: 84em) {
  .heading-primary {
    font-size: 4.4rem;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }
  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
}

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }
  .hero {
    gap: 6.4rem;
    padding: 0 8rem;
  }
  .contact--grid {
    -webkit-column-gap: 3.6rem;
            column-gap: 3.6rem;
    -ms-grid-columns: 3fr 7fr;
        grid-template-columns: 3fr 7fr;
  }
  .contact-container {
    padding: 0;
  }
  .contact-info {
    gap: 1.2rem;
  }
  .contact-form {
    padding: 2.4rem 4.8rem;
  }
  .mobile-nav-button {
    display: block;
  }
  .main-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
  .main-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-list li:first-child {
    display: none;
  }
  .main-nav-link:link, .main-nav-link:visited {
    font-size: 2.4rem;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .nav-open .mobile-nav-icon[name="close-icon"] {
    display: block;
  }
  .nav-open .mobile-nav-icon[name="menu-icon"] {
    display: none;
  }
}

@media (max-width: 44em) {
  .grid--3-cols, .grid--4-cols {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .about-text {
    padding: 0;
  }
  .about div {
    padding: 0 8rem;
    gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work-details {
    gap: 1.6rem;
  }
  .work--grid {
    gap: 2.4rem;
    -ms-grid-columns: 2fr 3fr;
        grid-template-columns: 2fr 3fr;
  }
  .contact--grid {
    -ms-grid-columns: 3fr 7fr;
        grid-template-columns: 3fr 7fr;
  }
  .contact-info {
    gap: 0.8rem;
  }
}

@media (max-width: 34em) {
  .grid--2-cols, .grid--3-cols, .grid--4-cols {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .btn, .btn:link, .btn:visited {
    padding: 1.6rem 2.4rem;
  }
  .about-text-container {
    text-align: center;
  }
  .about div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.4rem;
  }
  .about div .btn {
    text-align: center;
    width: 100%;
  }
  .work--grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .work-details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .work-assignments {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .education {
    text-align: center;
  }
  .education .course-details {
    margin-bottom: 4.8rem;
  }
  .certifications {
    text-align: center;
  }
  .projects {
    padding: 0;
  }
  .projects-section {
    padding-bottom: 0;
  }
  .project-text-container {
    border-bottom: 1px solid #eee;
    margin-bottom: 8rem;
  }
  .project-text-container div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 2.4rem;
    text-align: center;
  }
  .project-text-container div .btn--outline {
    border: 1px solid #333;
  }
  .project-title {
    text-align: center;
  }
  .project-technologies-used {
    margin-bottom: 0;
  }
  .project-image-container {
    -webkit-transform: translateY(-2.4rem);
            transform: translateY(-2.4rem);
  }
  .project-image-container:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .contact--grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact-info:not(:last-child) {
    margin-bottom: 1.2rem;
  }
  .contact-form {
    padding: 1.2rem 2.4rem;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer {
    gap: 6.4rem;
  }
  .footer--grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .footer-nav-list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-row: 1;
    grid-row: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-socials {
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .footer-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 3;
    grid-row: 3;
  }
}
/*# sourceMappingURL=queries.css.map */